{{#if this.shouldRender}}
    {{#if this.hasDeadline}}
        <div
            class='deadline-button'
            {{on 'click' this.setDeadline}}
            title={{i18n 'deadline.change_button.title'}}
            style={{this.style}}
        >
            <svg><use href='#far-clock'></use></svg>
            <span class='content'>{{this.deadlineFormatted}}</span>
        </div>
    {{else}}
        <div
            class='deadline-button'
            {{on 'click' this.setDeadline}}
            title={{i18n 'deadline.set_button.title'}}
        >
            <svg><use href='#far-clock'></use></svg>
            <span class='content'>{{i18n 'deadline.set_button.label'}}</span>
        </div>
    {{/if}}
{{/if}}